@{
    ViewData["Title"] = "Sign In";
}
<div class="clinic-container">
    <header>
    <h1>Sign in to continue</h1>
    </header>
    <form>
        <div class="mb-3">
            <label for="username" class="form-label">Username or Email</label>
            <input type="text" class="form-control" id="username" placeholder="Enter your username or email">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <div class="input-group">
                <input type="password" class="form-control" id="password" placeholder="Enter your password">
                <button class="btn btn-outline-secondary" type="button" id="showPassword" onclick="togglePasswordVisibility()">Show</button>
            </div>
        </div>

        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="RememberMe">
            <label class="form-check-label" for="RememberMe">Remember me</label>
        </div>

        <button type="button" class="btn btn-primary" onclick="submitLoginForm()">Log In</button>
    </form>
    <script src="~/js/login.js"></script>
</div>