@{
    ViewData["Title"] = "Home - Clinic Page";
}

<div class="clinic-container">
    <header>
        <h1>Welcome to Our Clinic</h1>
        <p>Where Your Health Matters</p>
    </header>

    <section class="specializations">
        <h2>Our Specializations</h2>
        <ul>
            @* @foreach (var doctor in Model)
            {
                <li>@doctor.Specialization</li>
            } *@
            <li>Home</li>
            <li>ENT</li>
            <li>Dermatologist</li>
            <li>Ophthalmologist</li>
            <li>Neurologist</li>
            <li>Orthopedist</li>
            <li>Pediatrician</li>
            
        </ul>

        <h2>For more features logging is required</h2>
    </section>
</div>